<!--еще не реализованно-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Добавление марки</title>

</head>
<body>
<div class="row justify-content-lg-start">
    <div class="col-md-10 col-lg-11 col-sm-6">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title mt-2">Добавление марки в бд</h4>
            </header>
            <article class="card-body">
                <form  th:action="@{/cars/addCarModel}" th:object="${carModel}" method="post">

                    <div class="form-row">
                        <div class="form-group col-md-6 col-lg-10">

                            <label for="brand">Марка</label>
                            <input th:field="*{brand}" type="text" class="form-control inputs" id="brand" >



                            <div class="form-row mt-2">

                            <div class="text-center mt-5">
                                <button type="submit" class="btn btn-primary"> Добавить
                                </button>
                            </div>

                        </div>
                    </div>

                </form>
            </article>
        </div>
    </div>

</div>


</body>
</html>