<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" defer></script>
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Список машин
                            <a class="btn btn-primary float-right"  style="color: white;"
                               th:href="@{/cars/addCar}">
                                Добавить новую машину</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered"  id="example">
                                <thead>
                                <tr>
                                    <th data-sort-prop="title">Марка</th>
                                    <th data-sort-prop="endDate">Модель</th>
                                    <th data-sort-prop="requiredAmount">Тип кузова</th>
                                    <th data-sort-prop="category">Год выпуска</th>
                                    <th data-sort-prop="type">Цвет</th>
                                    <th data-sort-prop="balance">Цена</th>
                                    <th>Редактировать</th>
                                </tr>
                                </thead>

                                <tr  th:each="car: ${listOfCars}">
                                    <td th:utext="${car.brand.getBrand()}"></td>
                                    <td th:utext="${car.model.getModel()}"></td>
                                    <td th:utext="${car.bodyStyle}"></td>
                                    <td th:utext="${#dates.format(car.yearOfManufacture, 'dd-MMM-yyyy')}"></td>
                                    <td th:utext="${car.color}"></td>
                                    <td th:utext="${car.price}"></td>
<!--                                    <td><a th:unless="${project.status == T(kg.nurtelecom.kfp.common.enums.ProjectStatus).APPROVED}" th:href="@{/business/editProject/{id}(id=${project.id})}"-->
<!--                                           class="btn-custom btn-primary main-size"><i class="fa fa-pencil-square-o"-->
<!--                                                                                       aria-hidden="true"></i></a>-->
<!--                                        <a th:unless="${project.status == T(kg.nurtelecom.kfp.common.enums.ProjectStatus).APPROVED}" th:href="@{/business/remove/{id}(id=${project.id})}"  class="btn-custom btn-danger"><i class="fa fa-trash"  aria-hidden="true"></i></a>-->
<!--                                    </td>-->

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>